<p id="notice"><%= notice %></p>

<p>
  <strong>Ltitle:</strong>
  <%= @playlist.ltitle %>
</p>

<p>
  <strong>Ldate:</strong>
  <%= @playlist.ldate %>
</p>

<%= render partial: 'tracks/tracks_table', locals: {tracks: @playlist.tracks} %>
