<div id = "hwarp" class="col-lg-11  ">

	<div class="row">
		<div class="col-md-11">
			<h3><%= @title %></h3>
			<table>
				<tr>
					<th>Artist Name</th>
					<th></th>
				</tr>
				<% @artists.each do |a| %>
					<tr>
						<td><%=link_to a.aname, artist_path(a)%></td>
						<td>
							<%=render partial: 'shared/like_unlike_artist', locals: {user: @user, artist: a}%>
						</td>
					</tr>
				<%end%>

			</table>
		</div>
	</div>

</div>
