
<% provide(:title, @title) %>
<div class="row">
	<div class="col-md-11 ">
		<h3><%= @title %></h3>
		<% if @users.any? %>
			<ul class="users follow">
				<%= render @users %>
			</ul>
		<% end %>
	</div>
</div>
