<div id = "hwarp" >

	<div class="row">
		<div class="col-md-8">
			<table>
				<tr>
					<th>timestamp</th>
					<th>song</th>
				</tr>
				<% @play_history.each do |h| %>
				<tr>
					<td><%=h[:ts] %></td>
					<td><%=h[:track].ttitle%></td>
				</tr>

				<% end %>
			</table>
		</div>
	</div>
</div>
