<div id = "hwarp" class="col-lg-11  ">

	<div class="row">
		<div class="col-md-6">
			<%= link_to 'Create a new List', new_playlist_url %>
			<table>
				<tr>
					<th>List Name</th>
					<th>Created on</th>
				</tr>
				<% @playlists.where( lpublic: true ).each do |l|%>
					<tr>
						<td><a href="<%=playlist_path(l)%>">
								<%=l.ltitle %>
							</a></td>
						<td><%=l.ldate%></td>
					<tr>
				<% end%>
			</table>
		</div>
	</div>
</div>
