<div id = "rwarp" class="col-lg-11  ">
	<div class="row">
		<div class="col-md-8">
<div >
	<p id="notice"><%= notice %></p>
	<p>
	  <strong>User Name:</strong>
	  <%= @user.uname %>
	  <strong>Location:</strong>
	  <%= @user.ucity %>
	</p>
		</div>
	</div>
</div>
</div>
