<div id = "rwarp" class="col-lg-11  ">
	<div class="row">
		<div class="col-md-8">
			<p id="notice"><%= notice %></p>
			<p>
			  <strong>User Name:</strong>
			  <%= @user.uname %>
			  <br>
			  <strong>Location:</strong>
			  <%= @user.ucity %>
			</p>
		</div>
	</div>
</div>
