<%= form_for(album_track) do |f| %>
  <% if album_track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album_track.errors.count, "error") %> prohibited this album_track from being saved:</h2>

      <ul>
      <% album_track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
